		<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/{{ projectname }}">{{ projectname }}</a>
			</div>
			<!-- /.navbar-header -->
			
			<!-- Top Menu Items -->
			<ul class="nav navbar-top-links navbar-right">
            {% if request.user.is_authenticated %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-user fa-fw"></i> {{ user.username }} <i class="fa fa-caret-down"></i></a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="{% url 'logout' %}">
						<i class="fa fa-sign-out fa-fw"></i> Logout</a>
						</li>
					</ul>
				</li>           
			{% else %}
             <li class='active'> <a href="{% url 'login' %}"> Login</a></li>
               {% endif %}
          
			</ul>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		  
        <div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">										
				{% if request.user.is_authenticated %}
				<li>
					<a href="/{{ projectname }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
				</li>
										<li>	
							<a href="#"><i class="fa fa-table fa-fw"></i> Base<span class="fa arrow"></span></a>																				
							<ul class="nav nav-second-level">
					  			<li><a href="{% url 'base_st_list' %}">Base</a></li>
							</ul>
						</li>
						<li>	
							<a href="#"><i class="fa fa-table fa-fw"></i> Localization<span class="fa arrow"></span></a>																				
							<ul class="nav nav-second-level">
					  			<li><a href="{% url 'localization_st_list' %}">Localization</a></li>
							</ul>
						</li>
						<li>	
							<a href="#"><i class="fa fa-table fa-fw"></i> Match<span class="fa arrow"></span></a>																				
							<ul class="nav nav-second-level">
					  			<li><a href="{% url 'match_st_list' %}">Match</a></li>
							</ul>
						</li>
						<li>	
							<a href="#"><i class="fa fa-table fa-fw"></i> Player<span class="fa arrow"></span></a>																				
							<ul class="nav nav-second-level">
					  			<li><a href="{% url 'player_st_list' %}">Player</a></li>
							</ul>
						</li>
						<li>	
							<a href="#"><i class="fa fa-table fa-fw"></i> Pc_3in1<span class="fa arrow"></span></a>																				
							<ul class="nav nav-second-level">
								<li><a href="{% url 'Pc_3in1_pc' %}">Pc_3in1</a></li>
							</ul>
						</li>
						<li>	
							<a href="#"><i class="fa fa-table fa-fw"></i> Player bases<span class="fa arrow"></span></a>																				
							<ul class="nav nav-second-level">
								<li><a href="{% url 'Player_bases_pc' %}">Player bases</a></li>
							</ul>
						</li>
				{% endif %}
				</ul>
			</div>
        </div>
		<!--/.nav-collapse -->      
    </nav>

