  {% extends "base.html" %}
  {% load crispy_forms_tags %}
  
  {% block head_title%} {{block.super}} {% endblock %}
  
  {% block jumbotron_content %}
  		       <fieldset>
              <legend>Panel2</legend>        
              <div class="panel panel-default">
 			 <div class="panel-body">
              	 <a class="btn btn-large btn-info" href="{% url 'panel2_st_new' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Panel2</a>  
              	<a class="btn btn-large btn-info" href="{% url 'panel2_st_list' %}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</a>  
             
              	 </div>
              	 </div>     
                  <table class="table" id="example">   
                  <thead>
                    <tr>
           			<th>Panel2 ID</th>
           			<th>property6</th>
        			</tr>
        			</thead>           			        
                    {% for panel2_st in panel2_sts %}
                  <tr>
           			<td>{{ panel2_st.id }}</td>
           			<td>{{ panel2_st.a_property6 }}</td>
        			<td>        				
        			 <a class="btn btn-default" href="{% url 'panel2_st' panel2_st.id %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> Details</span>	</a>					
						</td>
                       <td> {% if deletable == "true" %}
                         <form action="{% url 'panel2_st_delete' panel2_st.id %}" method="POST">
                         {% csrf_token %}
                        <button class="btn btn-danger" type="submit">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span>
						</button>
						</form>
						</td>
						
                         {% endif %}
                       </tr>                
                    {% endfor %}       
                    </table>                 
              </fieldset>       
  {% endblock %}
  
  {% block next_forms %}
        	 <a class="btn btn-info" href="{% url 'panel3_st_list' %}"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List of Panel3 </a>      
  
  {% endblock %}
