   {% extends "base.html" %}
  {% load crispy_forms_tags %}
  
  {% block head_title%} {{block.super}} {% endblock %}
  
  {% block jumbotron_content %}
		<div class="row">
		<form class="form-horizontal" method="post" action="">	        			
	 	{% csrf_token%}
	 		<fieldset>
				<legend>Panel10</legend>
				<div class="form-group">
					{% for field in PANEL10Form %}
					{{ field.errors }}           		
           			<div class="col-sm-3"> {{ field.label_tag }}</div> <div class="col-sm-9">{{ field }} </div>
        			{% endfor %}
        		</div>
        		<div class="form-group">
					<div class="col-sm-9 col-sm-offset-3">
					{% if panel10_st.id == None %}
						<a class="btn btn-default" href="{% url 'panel10_st_list' %}">Back</a>
					{% else %}
					<a class="btn btn-default" href="{% url 'panel10_st' panel10_st.id %}">Back</a>
					{% endif %}
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form> 
        </div>
      
  {% endblock %}
  
