  {% extends "base.html" %}
  {% load crispy_forms_tags %}
  
  {% block head_title%} {{block.super}} {% endblock %}
  
  {% block jumbotron_content %}
  		       <fieldset>
              <legend>Panel3</legend>        
              <div class="panel panel-default">
 			 <div class="panel-body">
              	 <a class="btn btn-large btn-info" href="{% url 'panel3_st_new' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Panel3</a>  
              	<a class="btn btn-large btn-info" href="{% url 'panel3_st_list' %}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</a>  
             
              	 </div>
              	 </div>     
                  <table class="table" id="example">   
                  <thead>
                    <tr>
           			<th>ID</th>
           			<th>Panel2</th>
           			<th>property5</th>
        			</tr>
        			</thead>           			        
                    {% for panel3_st in panel3_sts %}
                  <tr>
           			<td>{{ panel3_st.id }}</td>
           			<td>{{ panel3_st.panel3_panel2 }}</td>
           			<td>{{ panel3_st.a_property5 }}</td>
        			<td>        				
        			 <a class="btn btn-default" href="{% url 'panel3_st' panel3_st.id %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> Details</span>	</a>					
						</td>
                       <td> {% if deletable == "true" %}
                         <form action="{% url 'panel3_st_delete' panel3_st.id %}" method="POST">
                         {% csrf_token %}
                        <button class="btn btn-danger" type="submit">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span>
						</button>
						</form>
						</td>
						
                         {% endif %}
                       </tr>                
                    {% endfor %}       
                    </table>                 
              </fieldset>       
  {% endblock %}
  
  {% block next_forms %}
  
  {% endblock %}
