  {% extends "base.html" %}
  {% load crispy_forms_tags %}
  
  {% block head_title%} {{block.super}} {% endblock %}
  
  {% block jumbotron_content %}
  		       <fieldset>
              <legend>newF001</legend>        
              <div class="panel panel-default">
 			 <div class="panel-body">
              	 <a class="btn btn-large btn-info" href="{% url 'newf001_st_new' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New newF001</a>  
              	<a class="btn btn-large btn-info" href="{% url 'newf001_st_list' %}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</a>  
             
              	 </div>
              	 </div>     
                  <table class="table" id="example">   
                  <thead>
                    <tr>
           			<th>ID</th>
           			<th>property1</th>
           			<th>property2</th>
           			<th>property3</th>
           			<th>Testf002</th>
        			</tr>
        			</thead>           			        
                    {% for newf001_st in newf001_sts %}
                  <tr>
           			<td>{{ newf001_st.id }}</td>
           			<td>{{ newf001_st.a_property1 }}</td>
           			<td>{{ newf001_st.a_property2 }}</td>
           			<td>{{ newf001_st.a_property3 }}</td>
           			<td>{{ newf001_st.newf001_testf002 }}</td>
        			<td>        				
        			 <a class="btn btn-default" href="{% url 'newf001_st' newf001_st.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Details</span>	</a>					
						</td>
                       <td> {% if deletable == "true" %}
                         <form action="{% url 'newf001_st_delete' newf001_st.id %}" method="POST">
                         {% csrf_token %}
                        <button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span>
						</button>
						</form>
						</td>
						
                         {% endif %}
                       </tr>                
                    {% endfor %}       
                    </table>                 
              </fieldset>       
  {% endblock %}
  
  {% block next_forms %}
  
  {% endblock %}
