{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{{ user }} 
{{request.user }} 
{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="row">
		<div class="col-md-8">
			<h2> <strong>Welcome to {{ projectname }}</strong></h2>
			<p>{{ description }}</p>
		</div>
		<div class="col-md-4">
			<form method="POST" action="{% url 'login' %}">
				{% csrf_token %} {{form|crispy}} <input class="btn btn-primary"
					type="submit" value="Log in" /> <input type="hidden" name="next"
					value="{{ next }}" />
			</form>

		</div>
	</div>
</div>

{% endblock %}